<script src="https://kit.fontawesome.com/0e17129fbf.js" crossorigin="anonymous"></script>
</div>
<div class="footer-padding">
  
</div>
  <div class="footer">
    
      <p style="font-size: 2rem;">© Copyright 2022 Credisy Bank</p> 
      <!-- <a href="https://www.instagram.com/starry_vaibh/"> <i class=" social-icon fab fa fa-instagram fa-2x"></i> </a>
      
      <a href="https://www.linkedin.com/in/vaibhav-kumar-a5610219b/"><i class=" social-icon fab fa fa-linkedin fa-2x"></i></a>   -->
  </div>
</div>
</body>
</html>
